@charset "UTF-8"

/* 공통부분 */
html {
    font-size: 100%;
}


body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, sans-serif;
    line-height: 1.7;
    color: #fff;
}


a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/*2. 헤더 부분*/
/*헤더 위치 조정*/
.page-header {
    position: relative;
}

/*3. 슬라이드 부분*/
.main-carousel {
    margin: 0 auto;
    position: relative;
    /* top: -65px; */
    z-index: 1;
    width: 100%;
}

.main-carousel img {
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.small-text {
    font-size: small;
}

/*로고 스타일 및 위치*/
.logo-wrap {
    z-index: 2;
    margin-top: 10px;
    /* left: 0; */
}

/*메뉴바 스타일 및 위치*/
.cloud-type {
    z-index: 2;
    /* margin-top: 5px; */
    display: flex;
    left: 0;
    border-bottom: 1px solid lightgray;
}

.cloud-type > li {
    margin-left: 36px;
}
.menu-wrap {
    z-index: 2;
    margin-top: 20px;
}

.main-menu {
    display: flex;
    font-size: 1.25rem;
}

.main-menu > li {
    margin-left: 70px;
    position: relative;
    float: left
}

/*로그인/회원가입 스타일 및 위치*/
.user-menu {
    z-index: 2;
    font-size: 0.75rem;
    display: flex;
    margin-top: 24px;
}

.user-menu > li {
    margin-left: 36px;
}

/*헤더 안의 내용 정렬*/
.header-wrap {
    display: flex;
    justify-content: space-around;
}